name: galaxy_release

on:
  workflow_call:
    inputs:
      repo_name:
        required: true
        type: string

permissions:
  contents: read # This is required for actions/checkout
  packages: write # This is required to push images to Github packages
  id-token: write # This is required for requesting the JWT

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v5

      - name: Set up Python 3.
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Install Ansible.
        run: |
          pip3 install ansible-core==2.15.13

      - name: Trigger a new import on Galaxy.
        run: |
          ansible-galaxy role import --api-key ${{ secrets.GALAXY_API_KEY }} $(echo ${{ github.repository }} | cut -d/ -f1) $(echo ${{ github.repository }} | cut -d/ -f2)
